*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
ol {
    list-style: none;
}
fieldset {
    border: none;
}

a {
    text-decoration: none;
    transition: var(--transition);
    color: inherit;
    border-bottom: 2px solid transparent;
}

a:hover {
    border-color: white;
}

button {
    cursor: pointer;
    transition: var(--transition);
    border-style: solid;
    font-family: inherit;
    font-weight: bold;
}

.content-hidden {
    display: none;
}

:root {
    --clr-dark-sky: #0c1445;
    --clr-dark-slate: #334155;
    --clr-dark-gray: #111827;
    --clr-emerald: #10b981;
    --clr-light-teal: #5eead4;
    --clr-light-blue: #38bdf8;
    --font-1: "Roboto", sans-serif;
    --font-2: "Open Sans", sans-serif;
    --transition: all 0.25s ease-in-out;
    --border-radius: 4px;
    --letter-spacing: 4px;
}

body {
    font-family: var(--font-1), var(--font-2);
}

/* Styling for content, overlay, and our modal (error section) */
.content {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Make sure the overlay actually goes over the regular screen */
    z-index: 1;
}
.error-section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 
	- z-index: 2 allows the error-section to go above the overlay, making it 
		interactable 
	*/
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    background-color: var(--clr-light-blue);
    color: var(--clr-dark-sky);
    padding: 16px 12px;
    border-radius: var(--border-radius);
}

/* 
- Do chaining so that if it also has .content-hidden class, we do display none. 
This is to override the display: flex.
*/
.error-section.content-hidden {
    display: none;
}

#close-error-btn {
    padding: 8px 24px;
    border: none;
    border-radius: var(--border-radius);
    color: inherit;
}
#close-error-btn:hover {
    background-color: var(--clr-dark-sky);
    color: var(--clr-light-blue);
}

/*
- project-container: Basically made it a grid so the it would be header and footer on top and bottom, while 
the main-content of the project is in the middle. The entire thing has a background image, and our project should 
never be smaller than the full view height.
*/
.project-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-image: url("./assets/images/night_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*
- project-container: for smooth image transition
- Rest of them: For smooth color changing when switching themes.
*/
.project-container,
#project-header,
#project-footer,
#daily-weather-header,
#daily-weather-body {
    transition: var(--transition);
}

/* Project's header styles and footer styles so that they match */
#project-header,
#project-footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    font-weight: 700;
}

/* Project header styles only */
#project-header {
    padding: 16px 8px;
    grid-row: 1 / 2;
}
#project-header button {
    border: 2px solid var(--clr-dark-sky);
    background-color: var(--clr-dark-sky);
    color: white;
}
#project-header button:hover {
    background-color: white;
    color: var(--clr-dark-sky);
}
#header-nav {
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.site-info {
    display: flex;
    align-items: center;
    flex-basis: 20%;
    column-gap: 12px;
}
.weather-logo-img {
    width: 60px;
}

/* 
- flex-basis: gives the search bar lots of space
- overflow hidden and border-radius: creates a rounded look for the input section
	and then the searc hbutton
- input-city-el and search-weather-btn with flex: We wanted the input-city-el to
	have most of the space in the form so we gave it 4/5 slices whilst search button
	has 1 / 5 slices.
*/

#search-weather-form {
    display: flex;
    flex-basis: 45%;
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-left: 12px;
    margin-right: 12px;
}
#input-city-el,
#search-weather-btn {
    padding: 12px 6px;
}
#input-city-el {
    flex: 4;
    border: none;
    background: var(--clr-dark-gray);
    color: white;
}
#input-city-el::placeholder {
    color: white;
}
#search-weather-btn {
    flex: 1;
    border: none;
}
.extra-btns {
    flex: 2;
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.extra-btns button {
    padding: 12px 8px;
    letter-spacing: var(--letter-spacing);
    border: none;
    flex: 1;
}

/* 
- Styling for the project's main-content section of the project:
	1. Grid: Doesn't need grid, but we wanted the daily-weather-section to take up
		a minimal amount of space, whilst the forecast section got the rest of the space.
	2. width 40%: Gives the daily-weather-section some extra space to make it look alright
*/
#project-main-content {
    padding: 16px 0;
    color: white;
    display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
}
#daily-weather {
    width: 40%;
}
#daily-weather-header,
#daily-weather-body {
    padding: 16px 12px;
}
#daily-weather-header {
    background-color: var(--clr-dark-gray);
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.daily-weather-header-top,
.daily-weather-header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Changing with on weather icon to make spacing better */
#weather-condition-icon {
    width: 40px;
}
#location-el {
    font-size: 24px;
}

/* Styling for the body  */
#daily-weather-body {
    background-color: var(--clr-dark-slate);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
#weather-data-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
}
.weather-data-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--clr-light-blue);
}
#weather-data-grid .weather-data-name {
    font-size: 16px;
    font-weight: 700;
}
#weather-data-grid .weather-data-value {
    font-size: 24px;
}

/* Styling for the forecast table */
#forecast-data-table {
    margin-top: 36px;
    table-layout: fixed;
    color: white;
    border-collapse: collapse;
    text-align: center;
    border: 2px solid white;
}
#forecast-data-table th,
#forecast-data-table tr {
    padding: 16px;
}

/* Styling for unit conversion or usage of percentages*/
.temp-el[data-is-metric-units="false"]::after {
    content: " °F";
}
.temp-el[data-is-metric-units="true"]::after {
    content: " °C";
}
.precipitation-el[data-is-metric-units="false"]::after {
    content: " in";
}
.precipitation-el[data-is-metric-units="true"]::after {
    content: " mm";
}
.wind-speed-el[data-is-metric-units="false"]::after {
    content: " mph";
}
.wind-speed-el[data-is-metric-units="true"]::after {
    content: " kph";
}
.wind-speed-el[data-is-metric-units="false"]::after {
    content: " mph";
}
.wind-speed-el[data-is-metric-units="true"]::after {
    content: " kph";
}
.pressure-el[data-is-metric-units="false"]::after {
    content: " in";
}
.pressure-el[data-is-metric-units="true"]::after {
    content: " mb";
}
.uses-percentage::after {
    content: "%";
}

/* Styling for image container */
#gif-container {
    margin-top: 36px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

/* Styling for the project's footer only */
#project-footer {
    grid-row: 3 / end;
    padding: 8px 4px;
}
#footer-nav-el {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 4px;
    column-gap: 12px;
}

/* 
- Light mode styling: Basically we're just changing the background-image and 
the color on the main containers and whatnot.
*/
.light-mode .project-container {
    background-image: url("./assets/images/day_mountain.jpg");
}
.light-mode #project-header,
.light-mode #project-footer {
    background-color: transparent;
}
.light-mode #project-header button {
    background-color: transparent;
    color: var(--clr-dark-sky);
}
.light-mode #project-header button:hover {
    background-color: var(--clr-dark-sky);
    color: white;
}

.light-mode #daily-weather-header {
    background-color: var(--clr-emerald);
}
.light-mode #daily-weather-body {
    background-color: var(--clr-light-teal);
}
.light-mode .weather-data-item {
    color: var(--clr-dark-sky);
}
